<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel= "stylesheet" href="style.css">
		<link rel= "stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <body background="https://i.pinimg.com/originals/80/bc/b5/80bcb5ae5df313e634410f22153f10d8.jpg">
    </head>
    <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">COLOMBAT Clément</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"

    </a>
        </li>
        <a class="nav-link" href="#Formation">Formations</a>
          <a class="nav-link" href="#Experiences">Professional Experiences</a>
          <a class="nav-link" href="#A PROPOS">ABOUT</a>
          <a class="nav-link" href="./port">E-Portfolio</a>
          <a class="nav-link" href="./francais">French</a>
         </li>
      </ul>
    </div>
  </div>
</nav>
<div>
<br><br>
<br><br>
	<main>
		<div id="imagePrincipale" style="color:black;">
            <h1>Student in BUT Networks and telecommunications</h1>
            <div id ="premierTrait"></div>
            <p id="qualite">Teamwork - Curious - Rigorous - Adaptable</p>
            <p id="objectif">Purpose : Integrate an IT department</p>
        </div>

<br><br>
        <Div Align=Center> <a class="btn btn-dark" href="/loisirs">loisirs</a>
  </main>
  
<br><br>

    
    <CENTER><div class="card border-light mb-3" style="max-width: 60rem;">
  <div class="card-header">PROFIL</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text"><p>2022-2023 <strong> Student in IUT networks and telecommunications with skills in the fields of information and communication technologies. I am capable of understanding, implementing, configuring and maintaining information systems and equipment while ensuring their physical and software security.  </p>
  </CENTER></div>
</div>
  
     </section>
     
     
    <br><br>
     <footer>
            <h2 id="A PROPOS">ABOUT</h2>
            <p>address: &emsp; 6 bis Avenue de Paris</p>
            <p>email address : &emsp; cmcolombat@gmail.com</p>
            <p>Phone number : &emsp; 07.68.86.60.23</p>

     </footer>

</html>
