<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CV</title>
 
        <link rel= "stylesheet" href="style.css">
		<link rel= "stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
        <style>
            body{
              background-image: url("https://media.istockphoto.com/id/1332097112/fr/photo/le-noir-et-largent-sont-gris-clair-avec-du-blanc-le-d%C3%A9grad%C3%A9-est-la-surface-avec-des-mod%C3%A8les.jpg?s=612x612&w=0&k=20&c=RAH-8_B_OPQ1RHGxK53n21RdghO7D2hqaFnpj1X-93M=");
              background-size: 1540px 1070px;
              background-repeat: no-repeat;
            }
          </style>     
    </head>
    <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
    <a class="navbar-brand" href="#">COLOMBAT Clément</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
     </a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
	<main>
		<div id="imagePrincipale" style="color:white;">
            <h1>Centres d'interets</h1>
            <div id ="premierTrait"></div>
        </div>
    <br></br>
    </main>
    <section id="centres d'interets" style="color:white;">
        <div> 
          <article>
            <h2 id="INFORMATIQUE">INFORMATIQUE</h2>
            <p>Je suis passionné d'informatique, j'ai toujours voulu en faire mon métier, en grandissant je me suis rendu compte que ce qui m'intéressais le plus dans ce large monde était l'Administration des réseaux et comment faire face aux attaques informatiques.</p>
            <img src="code.jpg" alt="image" width=80% height=80%/>
            <br></br>
       </article>
        <article>
             <h2 id="SPORT">SPORT</h2>
             <p id="sport">Pendant mon temps libre je fais de mon mieux pour aller faire du sport, j'ai joué en club de football pendant 7 ans et j'ai décidé d'arrêter suites à la pression que les matchs me mettaient. J'ai donc décidé d'aller faire du sport dans une salle de musculation ce qui me convient parfaitement étant donné que je peux m'organiser comme je le souhaite ! </p>
             <img src="muscu.jpg" alt="image" width=80% height=80%/>
             <br></br>
        </article>
        <article>
          <h2 id="auto">AUTOMOBILE</h2>
          <p>Je suis aussi passionné d'automobile, depuis tout petit je m'intéresse à cet univers. Je vais souvent voir des rallyes car j'adore ca, l'ambiance et les belles voitures me font rêver.</p>
          <img src="bmw.jpg" alt="image" width=80% height=80%/>
     </article>
        </div>
     </section>
     <br></br>

</html>
