<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CV</title>
 
        <link rel= "stylesheet" href="style.css">
		<link rel= "stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
        <style>
            body{
              background-image: url("https://media.istockphoto.com/id/1332097112/fr/photo/le-noir-et-largent-sont-gris-clair-avec-du-blanc-le-d%C3%A9grad%C3%A9-est-la-surface-avec-des-mod%C3%A8les.jpg?s=612x612&w=0&k=20&c=RAH-8_B_OPQ1RHGxK53n21RdghO7D2hqaFnpj1X-93M=");
              background-size: 1550px 700px;
              background-repeat: no-repeat;
            }
          </style>     
    </head>
    <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
    <a class="navbar-brand" href="#">Loisirs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
     </a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
	<main>
		<div id="imagePrincipale" style="color:white;">
            <h1>Centres d'interets</h1>
            <div id ="premierTrait"></div>
        </div>
    <br></br>
    </main>
    <section id="centres d'interets" style="color:white;">
        <div> 
            <CENTER><p><strong>2022</strong> Entrainement physique en salle de sport</p> 
            <p><strong>2021</strong> Administration d’un <strong>serveur de jeu en ligne</strong> communautaire en équipe</p>
            <p><strong>2013-2021</strong>  Football en club U11-U17
                <strong>Encadrement</strong> stage de football (15 jeunes, 14 ans)
                Participation à l’organisation de plusieurs évènements du club de football : tournois, loto, vide-greniers…
                </p></CENTER>
          
        </div>
     </section>
     <br></br>
    <center>
    <div class="col-sm-6 "
     <div class="card mb-3" style="color:white;">
        <h3 class="card-header">Automobile</h3>
        <div class="card-body">

        </div>
        <img src="https://cdn.bmwblog.com/wp-content/uploads/2017/01/Jerez-Black-BMW-E90-M3-In-A-JDM-Style-Build-7.jpg" alt="image" width=80% height=80%/>
        <div class="card-body">
          <p class="card-text"></p>
        </div>
</html>
