<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>E-Portfolio</title>
 
        <link rel= "stylesheet" href="style.css">
		<link rel= "stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">

    <style>
      body{
        background-image: url("https://media.istockphoto.com/id/1332097112/fr/photo/le-noir-et-largent-sont-gris-clair-avec-du-blanc-le-d%C3%A9grad%C3%A9-est-la-surface-avec-des-mod%C3%A8les.jpg?s=612x612&w=0&k=20&c=RAH-8_B_OPQ1RHGxK53n21RdghO7D2hqaFnpj1X-93M=");
        background-size: 1550px 700px;
        background-repeat: no-repeat;
      }
    </style>         
    </head>
    <body>
	


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
     </a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
	<main>
		<div id="imagePrincipale" style="color:white;">
            <h1>BUT Réseaux et télécomunications</h1>
            <div id ="premierTrait"></div>
        </div>
  <br></br>
  <br></br>
    </main>
    <section id="Compétences">
<div class="progress">
  <p><strong class="port">Administrer les Réseaux et l'Internet &emsp;</strong></p>
  <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br></br>
<br></br>
<div class="progress">
  <p><strong class="port">Connecter les Entreprises et les Usagers &emsp;</strong></p>
  <div class="progress-bar bg-info" role="progressbar" style="width: 40%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br></br>
<br></br>
<div class="progress">
  <p><strong class="port">Créer des Outils et Applications informatiques &emsp; </strong></p>
  <div class="progress-bar bg-warning" role="progressbar" style="width: 40%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br></br>
<br></br>
<div class="progress">
  <p><strong class="port">Anglais de communication et vocabulaire technique &emsp; </strong></p>  
  <div class="progress-bar bg-danger" role="progressbar" style="width: 35%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>


     </section>
     
</html>
