h1 {
    padding-top: 3%;
    text-align: center;
    text-decoration: solid;
    font-family: sans-serif;
    
}


#qualite {

    text-align: center;
    font-family: sans-serif;
    
}

#objectif {

    text-align: center;
    font-family: sans-serif;
}

#Formation {

    text-align: center;
    padding-top: 4%;
    font-family: sans-serif;
}

#Compétences {

    text-align: center;
    padding-top: 15px;
    font-family: sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

img {

    width: 17%;
    border-radius: 14%;


}

img:hover {
    transform: scale(1.5);
    transition: transform 0.3s;
  }


article{

    padding-left: 10%;
    padding-right: 10%;
}


.port {

    padding-right: 60px;
    padding-bottom: 6px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;

}

#Experiences {

    text-align: center;
    padding-top: 1%;
    font-family: sans-serif;
}

#interets {

    text-align: center;
    padding-top: 1%;
    font-family: sans-serif;
    padding-bottom: 4%;
}

footer{
    padding-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: #000;
    color:#fff;
    padding: 30px 100px;
    padding-bottom: 35px;
}
footer h1{
    font-family: "Playfair Display", sans-serif ;
    border-bottom: 1px solid #fff;
    width: 15%; 
    padding-bottom: 5px;
}

footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}

footer .services .service{
    margin-right: 30px;
    padding: 10px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(65, 64, 64);
}


@media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px ;
        margin-bottom: 20px;
    }
    .main .card{
        margin:10px;
    }

    .main .content .card .right img{
        height: 200px;
        width: 100%;
        margin-top: 0px;
    }
    .main .content .card{
        display:block;
    }
    footer {
        padding: 30px;
    }
}