<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        

        <link rel= "stylesheet" href="style.css">
		<link rel= "stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
            
    </head>
    <body>
	


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clément COLOMBAT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
     </a>
        </li>
        
          <a class="nav-link" href="#Formation">Formations</a>
          <a class="nav-link" href="#Compétences">Compétences</a>
          <a class="nav-link" href="#Experiences">Experiences Proffessionnelles</a>
          <a class="nav-link" href="#interets">Centres d'interets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
	<main>
		<div id="imagePrincipale">
            <h1>Etudiant en BUT Réseaux et télécomunications</h1>
            <div id ="premierTrait"></div>
            <p id="qualite">Esprit d’équipe - Curieux - Rigoureux - Adaptable</p>
            <p id="objectif">Objectif : Intégrer un service informatique</p>
        </div>
    </main>
    <section id="Formation">
        <div> 
            <h2>Formations</h2>
            <p>2022-2025 <strong>BUT Réseaux et télécomunications IUT Roanne</strong></p> 
            <p>2021-2022 <strong>BAC STI2D Système d'information et Numérique - Annemasse</strong></p>
            <p>2018-2019 <strong>Brevet des collèges mention assez bien</strong></p>
            <p>2018 <strong>Diplôme PSC1 (premier secours)</strong></p>
          
        </div>
     </section>
     <section id="Compétences">
        <div> 
            <h2>Compétences</h2>
            <p>-----------------------------------------------</p>
        </div>
     </section>
     <section id="Experiences">
        <div> 
            <h2>Experiences Proffessionnelles</h2>
            <p>2018-2019 <strong>Stage Menuiserie Atelier Palot</strong></p>
        </div>
     </section>
     <section id="interets">
        <div> 
            <h2>Centres d'interets</h2>
            <p>-----------------------------------------------</p>
        </div>
     </section>
</html>
