<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel= "stylesheet" href="style.css">
		<link rel= "stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
           
        <body background="https://tipsmake.com/data/images/100-most-beautiful-background-picture-35-u14PgA9wM.jpg">
    </head>
    <body>
	


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">COLOMBAT Clément</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"
          
          </a>
        </li>
        
          <a class="nav-link" href="cv.html.twig">CV</a>
          <a class="nav-link" href="portfolio.html.twig">E-portfolio</a>
          <a class="nav-link" href="#A PROPOS">A PROPOS</a>
		      <a class="nav-link" href="./anglais">anglais</a>

        </li>
      </ul>
    </div>
  </div>
</nav>
<div>


<br><br>

	<main>
		<div id="imagePrincipale" style="color:black;">
            <h1>Etudiant en BUT Réseaux et télécomunications</h1>
            <div id ="premierTrait"></div>
            <p id="qualite">Esprit d’équipe - Curieux - Rigoureux - Adaptable</p>
            <p id="objectif">Objectif : Intégrer un service informatique</p>
        </div>

<br><br>
        <Div Align=Center> <a class="btn btn-dark" href="/loisirs.html.twig">loisirs</a>
  </main>
  
<br><br>

    
    <CENTER><div class="card border-light mb-3" style="max-width: 60rem;">
  <div class="card-header">PROFIL</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text"><p>2022-2023 <strong> Etudiant en IUT réseaux et télécomunications avec des compétences dans les secteurs des technologies de l’information et de la communication. Je suis capable de comprendre, de mettre en œuvre, de configurer et de maintenir des équipements et systèmes d’information, tout en assurant leur sécurité physique et logicielle.  </p>
  </CENTER></div>
</div>
  
     </section>
     
     
    <br><br>
        <footer>
   <Div Align=Center>
            <h2 id="A PROPOS">A PROPOS</h2>
            <p>Adresse : 6 bis Avenue de Paris</p>
            <p>Adresse email : cmcolombat@gmail.com</p>


     07 68 86 60 23 | &copy; 2023, colombat.</p>
</footer>

</html>
