h1 {
    padding-top: 3%;
    text-align: center;
    text-decoration: solid;
    font-family: sans-serif;
    
}


#qualite {

    text-align: center;
    font-family: sans-serif;
    
}

#objectif {

    text-align: center;
    font-family: sans-serif;
}

#Formation {

    text-align: center;
    padding-top: 4%;
    font-family: sans-serif;
}

#Compétences {

    text-align: center;
    padding-top: 1%;
    font-family: sans-serif;
}

#Experiences {

    text-align: center;
    padding-top: 1%;
    font-family: sans-serif;
}

#interets {

    text-align: center;
    padding-top: 1%;
    font-family: sans-serif;
    padding-bottom: 4%;
}


footer {
    text-align: center;
    padding-top: 3%;
    background-color:  rgb(0, 0, 0);
    padding-bottom: 90px;
    color: white;
    font-family: sans-serif;

}
